body {
  background-image: url(images/Escudo\ fondo.png);
  background-size: 100%;
}
.banner {
  background-image: url(images/fondo\ banner\ combo.jpg);
  width: 100%;
  height: 300px;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 1em;
  padding: 2%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  display: inline-block;
}
.escudo {
  width: 30%;
  display: inline;
}
.logo {
  width: 14%;
  background-image: none;
  display: inline;
  filter: drop-shadow(0px 6px 21px #ff0);
  animation: rotar 5s linear infinite;
}

.marca {
  width: 100%;
  opacity: 0;
  display: inline;
}
nav {
  position: absolute;
  top: 30px;
  right: 30px;
}
nav li {
  display: inline;
  margin: 0 0 0 15px;
}
nav a {
  text-transform: uppercase;
  color: #161353;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}
.seguidores {
  width: 5%;
  display: inline;
  margin-left: 60%;
  vertical-align: super;
}
.redes {
  width: 3%;
  height: 3%;
  margin-right: 3%;
  padding-top: 3%;
}
.divisas {
  width: 98%;
  height: auto;
  display: block;
  margin-left: 4%;
  margin-bottom: 2em;
  text-align: center;
}
.uniforme {
  width: 20em;
  height: 17em;
  margin: 1% 1% 1%;
  box-shadow: 4px 4px 4px rgb(3, 3, 85);
}
.anuncio {
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-family: monospace;
  font-variant: inherit;
  margin-top: 2%;
  margin-bottom: 2%;
  color: rgb(24, 24, 71);
}
.anuncio {
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-family: monospace;
  font-variant: inherit;
  margin-top: 2%;
  margin-bottom: 2%;
  color: rgb(24, 24, 71);
}
#manage {
  margin-bottom: 2%;
}
.staf {
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-family: monospace;
  font-variant: inherit;
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(24, 24, 71);
}
.sponsors {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
  display: inline-block;
  text-align: center;
  background-color: none;
}
.patrocinadores {
  width: 50px;
  height: 50px;
  margin-left: 1%;
  margin-right: 2%;
  box-shadow: 2px 2px 2px rgb(101, 124, 235);
}
.patrocinadores:hover {
  transform: scale(2);
}
.campana {
  font-family: montserrat;
  font-size: 2em;
  text-align: left;
  margin-left: 1%;
  font-weight: bold;
}
.news {
  text-align: center;
  width: 100%;
  margin-left: 1%;
  box-shadow: none;
}
p {
  font-family: montserrat;
  line-height: 1.7em;
  text-align: justify;
  color: rgb(13, 13, 56);
  padding-bottom: 2rem;
  margin-left: 2%;
  margin-right: 2%;
}
.noticia {
  width: 100%;
  text-align: center;
  margin-right: 2%;
  padding-right: 2%;
  margin-left: 0%;
}
/*Galeria de Imagenes*/
.galeria {
  position: inline;
  display: inline-flexbox;
  margin-left: 15%;
}
.jugador {
  width: 20%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}
.jugador:hover {
  transform: scale(2);
  display: inline-flexbox;
}
.galery {
  opacity: 0.7;
  text-align: center;
  width: 30%;
  margin-left: 0%;
  box-shadow: 10px 5px 5px rgb(170, 172, 238);
}
.galery:hover {
  opacity: 1;
  transform: scale(1.2);
}
.galery1 {
  opacity: 0.7;
  text-align: center;
  width: 20%;
  margin-left: 1%;
  box-shadow: 10px 5px 5px rgb(181, 192, 249);
}
.galery1:hover {
  opacity: 1;
  transform: scale(1.5);
}
.marcha {
  width: 100%;
  margin-left: 3%;
  text-align: center;
  margin-bottom: 1em;
}
.video {
  text-align: center;
}
.nosotros {
  text-align: center;
  font-family: montserrat;
  font-size: 2em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-weight: bold;
}
.historia {
  width: 100%;
  font-size: 1em;
  color: rgb(21, 11, 72);
  font-family: montserrat;
  line-height: 1.7em;
  text-align: justify;
  margin-left: 1%;
  padding-right: 2%;
  padding-left: 0.5%;
  margin-bottom: 4em;
}
.formulario {
  text-align: center;
}
footer {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  width: 100%;
  height: auto;
  bottom: 0;
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
  color: aliceblue;
  background-color: rgb(15, 15, 65);
}
.direct {
  width: 30%;
  height: auto;
}
#copyrigth {
  color: aliceblue;
  font-weight: bold;
  text-decoration: none;
}

@keyframes rotar {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(-180deg);
  }
}

@media screen and (max-width: 800px) {
  .banner {
    width: 100%;
    height: 120px;
    display: inline-block;
    margin-bottom: 1%;
  }
  .logo {
    width: 3.5em;
    position: absolute;
  }
  nav {
    margin-top: 70px;
  }
  nav a {
    text-transform: uppercase;
    color: #081547;
    font-weight: lighter;
    font-size: 10px;
    text-decoration: none;
    padding: 1em;
  }
  .redes {
    width: 13px;
    height: 13px;
  }
  .sponsors {
    display: block;
    width: 100%;
    text-align: center;
  }
  .patrocinadores {
    width: 25px;
    height: 25px;
    margin-left: 0;
  }
  .galery {
    width: 48%;
    margin-block-start: 1%;
    box-shadow: 10px 5px 5px black;
    box-align: center;
  }
  #galeria {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    max-width: 700px;
    min-width: 400px;
    padding: 0 10px;
    margin-top: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .video {
    margin-right: 0%;
  }
  iframe {
    width: 100%;
    margin-top: 1em;
    margin-left: 0%;
    margin-right: 0em;
  }
}
