body {
  background-image:url(images/Escudo\ fondo.png);
  background-size: 100%;
}
.banner {
  background-image: url(images/fondo\ banner\ combo.jpg);
  width: 100%;
  height: 300px;
  margin-left: 0%;
  margin-right: 0%;
  display: -webkit-inline-box;
  padding: 2%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
}
.logo {
  width: 150px;
  background-image: none;
}
nav {
  position: absolute;
  top: 30px;
  right: 30px;
}
nav li {
  display: inline;
  margin: 0 0 0 15px;
}
nav a {
  text-transform: uppercase;
  color: #161353;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}
.marca {
  text-align: center;
  font-size: 3.5em;
  font-family: sans-serif;
  font-weight: bolder;
  font-variant: inherit;
  margin-left: auto;
  padding-left: 15%;
  margin-top: 50px;
  padding-top: 2%;
  color: rgb(202, 184, 21);
}
.seguidores {
  display: block;
  width: 4%;
  margin-left: 25%;
  padding-right: 2em;
  padding-top: 3%;
}
.redes {
  width: 2em;
}
.divisas{
  width: 98%;
  height: auto;
  display: block;
}
.uniforme{
  width: 30%;
  margin: 1% 1% 1%;
}
.anuncio {
  width: 80%;
  text-align: center;
  font-size: 2em;
  font-family:monospace;
  font-variant: inherit;
  margin-left: 13%;
  margin-top: 2%;
  margin-bottom: 2%;
  color: rgb(24, 24, 71);
}
.sponsors {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0.2rem;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-left: 0%;
  margin-right: 0%;
  background-color:rgb(43, 43, 235);
}
.patrocinadores {
  width: 7%;
  height: 7%;
  margin-right: 5rem;
  box-shadow: 10px 5px 5px rgb(5, 7, 37);
  vertical-align: middle;
}
.patrocinadores:hover {
  transform: scale(1.2);
}
.campana {
  font-family: montserrat;
  font-size: 2em;
  text-align: left;
  margin-left: 1%;
  padding-top: 1em;
  font-weight: bold;
}
.news {
  text-align: center;
  width: 100%;
  margin-left: 1%;
  margin-top: 0.5em;
  box-shadow: none;
}
p{
  font-family: montserrat;
  line-height: 1.7em;text-align: justify;
  color:rgb(13, 13, 56);
  padding-bottom: 2rem;
  margin-left: 2%;
  margin-right: 2%;
}
.noticia {
  width: 100%;
  text-align: center;
  margin-right: 2%;
  padding-right: 2%;
  margin-left: 0%;
}
/*Galeria de Imagenes*/
#galeria {
  position:absolute;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  max-width: 700px;
  min-width: 400px;
  padding: 0 10px;
  margin-top:70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#galeria img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}

#img-activa {
  width: 100%;
  height: auto;
}

/*Contenedor Principal del Lightbox*/

#contenedor-principal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.55);
  display: none;
  justify-content: center;
  align-items: center;
}

/*Contenedor interno del Lightbox*/

#contenedor-interno {
  border: 2px #f3f3f3 solid;
  padding: 2px;
  background: #3f3f3f;
  max-width: 800px;
  min-height: 800px;
  position: relative;
  display: inline-block;
  justify-content: center;
  margin-top: 12%;
}

/*Botones*/

button {
  cursor: pointer;
  background: transparent;
  border: none;
  color: #f3f3f3;
}

#btn-cierra {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem;
}

#btn-retrocede {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 3rem;
}

#btn-adelanta {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3rem;
}
.galery {
  opacity: 0.7;
  text-align: center;
  width: 30%;
  margin-left: 0%;
  box-shadow: 10px 5px 5px rgb(170, 172, 238);
}
.galery:hover {
  opacity: 1;
  transform: scale(1.2);
}
.galery1 {
  opacity:0.7;
  text-align: center;
  width: 20%;
  margin-left: 1%;
  box-shadow: 10px 5px 5px rgb(181, 192, 249);
}
 .galery1:hover {
    opacity: 1;
    transform: scale(1.5);
}
.marcha {
  width: 100%;
  margin-left: 3%;
  text-align: center;
  margin-bottom: 1em;
}
.video {
  width: 98%;
  text-align: center;
  padding-top: 2rem;
  margin-left: 2%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.nosotros {
  text-align: center;
  font-family: montserrat;
  font-size: 2em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-weight: bold;
}
.historia {
  width: 100%;
  font-size: 1em;
  color: rgb(21, 11, 72);
  font-family: montserrat;
  line-height: 1.7em;
  text-align: justify;
  margin-left: 1%;
  padding-right: 2%;
  padding-left: 0.5%;
}
footer {
  position:fixed;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 1%;
  bottom: 0;
  padding: 1%;
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
  color: aliceblue;
  background-color: rgb(2, 2, 28);
}
.copyrigth{
  padding-top: 1em;
}
@media screen and (max-width: 500px) {
  .banner {
    width: 100%;
    height:auto;
    display: inline-block;
  }
  .logo {
    width: 3em;
    position: absolute;
  }
  nav a {
    text-transform: uppercase;
    color: #081547;
    font-weight: lighter;
    font-size: 6px;
    text-decoration: none;
  }
  .marca {
    width: auto;
    text-align:center;
    font-size: 1em;
    margin-bottom: 1em;;
  }
  .seguidores {
    display:inline;
    position:button;
  }
  .redes {
    width: 1em;
  }
  .sponsors {
    width: 100%;
    text-align: center;
  }
  .galery {
    width: 48%;
    margin-block-start: 1%;
    box-shadow: 10px 5px 5px black;
    box-align: center;
  }
  #galeria {
    position:absolute;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    max-width: 700px;
    min-width: 400px;
    padding: 0 10px;
    margin-top: 220px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
